body{
   margin: 0;
   background: #222;
   font-family: system-ui;
   display: grid;
   place-content: center;
   min-height: 100vh;
}
.title-h1{
   color: #f3efef;
}

.label-categoryFilter{
   color: #f3efef;
}
#root {
   max-width: 1500px;
   margin: 0 auto;
   text-align: center;
   width: 100%;
}