.productsWrap {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 8px;
}

.productsWrap ul {
   display: flex;
   justify-content: center; 
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 8px;
   padding: 0px 0px 0px 0px;
}

.prCard {
   height: 370px;
   width: 250px; 
   margin: 10px;
   display: flex; 
   flex-direction: column; 
   justify-content: center; 
   align-items: center; 
   background-color: #f3efef; 
   border: 1px groove #7a7a7a; 
   border-radius: 10px;
}

.prCard-imageContainer{
   display: flex; 
   justify-content: center; 
   margin: 0px 0px 15px 0px;
}

.prCard-image{
   width: 200px; 
   border-radius: 5px;
}

.prCard-infoContainer{
   font-family: system-ui;
   width: 220px;
   display: block;
   justify-content: center; 
   background-color: transparent; 
   padding-left: 10px;
}

.prCard-prName{
   margin: 10px 10px 5px 5px;
}

.prCard-prStock{
   color: #5a5353;
   margin: 10px 10px 5px 5px;
}

.prCard-buttonContainer {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 8px;
}

.prCard-orderButton {
   cursor: pointer;
   width: 100px;
   height: 32px;
   margin-top: 10px; 
   background-color: #00a800; 
   color: #ffff; 
   font-size: 16px;
   border: 1px solid #ffff ;
   border-radius: 5px;
   transition: .2s ease;
}

.prCard-orderButton:hover {
   opacity: .8;
   border: none;
}

.prCard-cartButton {
   cursor: pointer;
   width: 32px;
   height: 32px;
   margin-top: 10px; 
   background-color: #00a800; 
   color: #ffff; 
   border: none; 
   border-radius: 5px;
   transition: .2s ease;
}

.prCard-cartButton:hover {
   opacity: .8;
}

.prCard-cartButton.cartFilled  {
   border: 1px solid #ffff ;
}

.prCard-cartButton.cartNotFilled  {
   border: 1px solid #ffff ;
}

.prCard-cartButton.cartNotFilled:hover  {
   border: none;
}

.prCard-cartButton.cartFilled:hover {
   border: 1px solid red;
   background-color: red;
}

.prCard-cartButton.cartFilled:hover .prCard-cartButton-dontFillIt {
   display: block;
}

.prCard-cartButton.cartFilled:hover .prCard-cartButton-FillIt {
   display: none;
}

.prCard-cartButton-FillIt{
   display: block;
}

.prCard-cartButton-dontFillIt{
   display: none;
}